/* * {
    border: 1px solid black;
} */

body{
    /* font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5; */

    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn1{
    height: 36px;
    width: 80px;
    background-color: #e8ec00;
    color: #35424a ;
    font-weight: bold;

}

ul{
    margin: 0;
    padding: 0;
}

header{
    background-color: #616669;
    color: #ffffff;
    min-height: 70%;
    border-bottom: 3px solid #e8ec00;

}
.current a{
    color: #e8ec00;
    font-weight: bold;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline;
    padding: 0 20px;
}

header a:hover{
    font-weight: bold;
    color: #e8ec00;
}

header #highlight{
    color: #e8ec00;
    font-size: larger
}
/*Showcase */

.showcase{
    min-height: 400px;
    background-color: aqua;
    background: url(../img/raf.jpg) no-repeat ;
    background-size:100% 100%;
    text-align: center;
    color:black ;

}



.showcase h1{
    font-size: 50px;
    background-color: #e8ec00;
    opacity: 0.71;
    margin-bottom: 100px;
    margin-top: 100px;
}

.showcase p{
    font-weight: bold;
    font-size: 20px;
    background-color: #999999
}

#newsletter{
    padding: 15px 0;
    background-color: #35424a;
    color: #ffffff;
}

#newsletter .container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#newsletter input[type="email"]{
    padding: 4px;
    width: 250px;
    height: 36px;
    font-family: cursive;
    font-family: fantasy;
}

/* Boxes */

.boxes {
    margin-top: 20px;
}

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.boxes .box{
    text-align: center;
    width: 30%;
    padding: 10px;
}

.boxes .box img{
    width: 90px;
}

footer{
    margin-top: 20px;
    background-color: #35424a;
    text-align: center;
    border-top: 3px solid #e8ec00 ;
    border-bottom: 3px solid #e8ec00 ;
    
}
footer img {
    width: 30px;
    height: 30px;
}


